@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* taraneh-colors */
  --t-custom-green: oklch(90.78% 0.168 148.8);
  --t-deep-wine: oklch(23.20% 0.063 12.62);
  --t-soft-rose: oklch(85.25% 0.041 356.54);
  --t-soft-white: oklch(95.21% 0.000 0);
  --t-olive: oklch(68.52% 0.063 106.91);
  --t-taupe: oklch(59.88% 0.028 45.69);
  --t-charcoal: oklch(26.22% 0.010 39.32);
  --t-off-white: oklch(94.61% 0.000 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* fonts */
  --font-mason-neue: var(--font-mason-neue);
  --font-bosch: var(--font-bosch);
  /* taraneh-inline colors */
  --color-custom-green: var(--t-custom-green);
  --color-deep-wine: var(--t-deep-wine);
  --color-soft-rose: var(--t-soft-rose);
  --color-olive: var(--t-olive);
  --color-soft-white: var(--t-soft-white);
  --color-taupe: var(--t-taupe);
  --color-charcoal: var(--t-charcoal);
  --color-off-white: var(--t-off-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/*============= 
  base styles
  =============
*/
@layer base {
  p {
    @apply text-sm md:text-base text-white leading-tight tracking-tight font-mason-neue
  }
  h1, h2, h3, h4, h5 {
    @apply text-5xl md:text-7xl font-bosch
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
